{{range .Employees}}
<tr class="transition hover:bg-gray-50">
  <td
    class="sticky left-0 z-10 border-b border-gray-200 bg-white p-3 whitespace-nowrap"
  >
    <!-- Tombol untuk mengambil Modal -->
    <button
      hx-get="/edit/{{index . 0}}"
      hx-target="#modal-container"
      class="cursor-pointer rounded bg-yellow-500 px-3 py-1 text-sm text-white transition hover:bg-yellow-600"
    >
      Aksi
    </button>
  </td>
  {{range .}}
  <td class="border-b border-gray-200 bg-white p-3 whitespace-nowrap">{{.}}</td>
  {{end}}
</tr>
{{else}}
<!-- Ditampilkan jika data kosong atau tidak ditemukan saat pencarian -->
<tr>
  <td colspan="4" class="p-6 text-center text-gray-500 italic">
    Data tidak ditemukan.
  </td>
</tr>
{{end}}
